HTTPS_PORT=443
SSL_PRIVATEKEY=<directory/to/ssl/privatekey>
SSL_CERTIFICATE=<directory/to/ssl/certificate>
SSL_CA=<directory/to/ssl/ca>
MONGO_HOST=mongodb://localhost/kongeos
AUTHC_SECRET=
AUTHC_EXPIRATIONTIME_MIN=60

#rename to .env
#edit vars
#and delete this comment